venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

migrations/
node_modules/
.vscode
.env
static/
*.db
.env

npm-debug.log
yarn-error.log


*.pem
*.key
*.cert