{% extends 'catalog/templates/base.html' %}

{% block header %}
<style>
    .details {
        margin-top: 40px;
    }

    .header {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
</style>
{% endblock header %}

{% block content %}

<div class="container">
    <div class="header">
        <div class="columns">
            <div class="column">
                <nav class="breadcrumb">
                    <ul>
                        <li>
                            <a
                                href="{{ url_for('catalog.category_items', category_name=item['url_safe_category_name']) }}">
                                {{ item['category_name'] }}
                            </a>
                        </li>
                        <li class="is-active"><a href="#" aria-current="page">{{ item['id'] }}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column">
                <div class="actions is-pulled-right">
                    {% if is_item_owner(current_user, item['user_id']) %}
                        <a class="button is-link" href="{{ url('catalog.edit_item', item_id=item['id']) }}">Edit Item</a>
                        <a class="button is-warning" id="deleteItem" data-id="{{ item['id'] }}">Delete Item</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<hr style="margin: 0px;">

<div class="section">
    <div class="container">
        {% include 'success_message.html' %}
        {% include 'errors/form_error.html' %}
        <h1 class="title">{{ item['name'] }}</h1>
        <div class="content">{{ item['description']|safe }}</div>
        <hr>
        <div class="details">
            <p class='content'>Created on: {{ item['created_on'] }}</p>
        </div>
    </div>
</div>

{% endblock content %}

{% block footer %}
{% if is_item_owner(current_user, item['user_id']) %}
<div class="delete_item_form" style="display: none;">
    <form method="POST" action="{{ url('catalog.delete_item', item_id=item['id']) }}" name='delete_item'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
</div>

<div class="confirm_dialog">
    <div class="modal" id="confirm_delete">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Delete {{ item['name'] }}</p>
            </header>
            <section class="modal-card-body">
                <p>This action cannot be undone. Are you sure?</p>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" onclick="document.forms.delete_item.submit();">Delete</button>
                <button class="button" onclick="model_handler(false);">Cancel</button>
            </footer>
        </div>
    </div>
</div>

<script>
    const current_item = document.getElementById('deleteItem');

    current_item.addEventListener('click', function (e) {
        e.preventDefault();
        model_handler(true);
    });

    function model_handler(show=false){
        const confirm_del = document.getElementById('confirm_delete');

        if(show){
            confirm_del.classList.add('is-active');
            document.body.classList.add('is-clipped');
        } else {
            confirm_del.classList.remove('is-active');
            document.body.classList.remove('is-clipped');
        }
    }
</script>
{% endif %}
{% endblock footer %}